<p class="lead text-muted">
    Messages
</p>
<div>
    <div class="row m-2 border shadow" *ngFor="let m of messages">
        <div class="col m-0 p-0">
            <div class="image">
                <img class="img-fluid" src="/api/upload/image/{{m.profilePic}}">
                <div class="text-muted" style="font-size:13px">{{m.name}}</div>
            </div>
            <div class="status-pipe float-left m-1"></div>
            <div class="content">{{m.message}}</div>
        </div>
        <div class="m-0 p-0 reply"><button class="btn btn-light m-2 but" (click)="reply(m.name,m.email)">Reply</button></div>
    </div>
</div>