<div class="row">
    <!-- need hide -->
    <div class="col-sm-12">
        <div class="panel panel-default text-left">
            <div class="panel-body">
                <div class="container m-1">
                    <form>
                        <div class="form-row">
                            <div class="col-10">
                                <input type="text" #statusText class="form-control" placeholder="Type your status">
                            </div>
                            <div class="col-2">
                                <button class="btn" (click)="setStatus(statusText.value)">POST</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="row m-2 border shadow" *ngFor="let st of status">
        <div class="col m-0 p-0">
            <div class="image">
                <img class="img-fluid" src="/api/upload/image/{{st.profilePic}}">
                <div class="text-muted" style="font-size:13px">saransh{{st.name}}</div>
            </div>
            <div class="status-pipe float-left m-1"></div>
            <div class="content">{{st.status}}</div>
        </div>
    </div>
</div>