<p class="lead text-muted">
    Chat with {{username}}
</p>
<div id="overlay">
    <div class="row m-2 border shadow" *ngFor="let m of messages">
        <div class="col m-0 p-0">
            <div class="image">
                <img *ngIf="m.profilePic!=undefined"
                    src="/api/upload/image/{{m.profilePic}}" class="img-fluid"
                    alt="Responsive image">
                <div class="text-muted" style="font-size:13px">{{m.name}}</div>
            </div>
            <div class="status-pipe float-left m-1"></div>
            <div class="content">{{m.message}}</div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 m-0 p-0">
            <form>
                <div class="form-row m-0 p-0">
                    <div class="form-group col-10 m-0 p-1">
                        <input type="text" class="form-control" #statusMessage placeholder="Type your message">
                    </div>
                    <div class="form-group col-2 m-0 p-1">
                        <button class="btn" (click)="sendMessage(statusMessage.value)">Send</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>